        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto"
}

header, footer {
    background-color: #1F2937;
    color: antiquewhite;
    border: 5px;
}

a {
    color: antiquewhite;
    text-decoration: none;
}

section{
    background-color: #1F2937;
    color: antiquewhite;
}

button {
    background-color: cornflowerblue;
    font-weight: bold;
    color: antiquewhite;
}

blockquote{
    background-color: gainsboro
}

inner-column {
    padding: 10px   ;
}

outer-column {
    padding: 10px;
}