    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto";
    justify-content: center;
    margin: 0%;

}

header, footer {
    background-color: #1F2937;
    color: white;
}

h2 {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    padding: 20px
}

.section1   {
    background-color: #1F2937;
    color: white;
    padding: 70px;
}

button {
    background-color: cornflowerblue;
    font-weight: bold;
    color: white;
    border-color: white;
    border-radius: 10px
}

blockquote  {
    color: #1F2937;
    font-size: 30px;
    padding: 100px;
    font-style: italic;
}

inner-column {
    padding: 10px   ;
}

outer-column {
    padding: 10px;
}

.container {
    display: flex;
}

.bottom-section {
    background-color: cornflowerblue;
    color: white;
    padding: 20px;
    justify-content: center;
    
}

ul {
    list-style-type: none;
}

.container > div {
  flex: 1;
}

.quote {
    background-color: #E5E7EB;
}

